* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: 'Lato', sans-serif;
	background: linear-gradient(to bottom, #009688 0px, #009688 15vh, #dddbd1 15vh, #d2dbdc 100%);
}

/* Main structure */
.wrapper {
	width: 100%;
	height: 100vh;
	display: flex;
}

.container {
	width: 1500px;
	height: 95%;
	margin: auto;
}

.container-left,
.container-right {
	float: left;
}

.container-left {
	width: 40%;
	height: 100%;
	display: flex;
	flex-direction: column;
}

.container-right {
	width: 60%;
	height: 100%;
}

.header {
	height: 100px;
	width: 100%;
	background-color: #eaeaea;
	border-left: 1px solid #e0e0e0;
	border-right: 1px solid #e0e0e0;
}

.buttons {
	height: 100%;
	width: 20%;
	float: right;
	font-size: 1.7rem;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-right: 25px;
}

.buttons i {
	margin-left: 25px;
	color: rgba(0, 0, 0, 0.233);
	cursor: pointer;
}

.banner {
	height: 100px;
	background-color: #8edafc;
	display: flex;
	align-items: center;
}

.search {
	height: 50px;
	background-color: #eaeaea;
	display: flex;
	justify-content: center;
	align-items: center;
}

.search label {
	width: 15%;
	background-color: white;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80%;
	border-right: 1px solid #eaeaea;
	color: rgba(0, 0, 0, 0.233);
	font-size: 1.25rem;
	cursor: pointer;
}
.search input {
	width: 80%;
	height: 80%;
	border: none;
	padding-left: 10px;
	font-size: 1rem;
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.chats {
	height: calc(100% - 250px);
	overflow-y: scroll;
	background-color: #ffffff;
}

.chats ul {
	list-style: none;
}

.chats ul li {
	height: 100px;
	border-bottom: 1px solid #e0e0e0;
	cursor: pointer;
}

.chats .details {
	float: left;
}

.current-chat {
	height: calc(100% - 180px);
	overflow-y: scroll;
	background-image: url(../img/mine.jpg);
}

.message-container {
	width: 100%;
	height: 80px;
	padding: 25px 25px;
}

.current-chat .message {
	min-width: 200px;
	max-width: 500px;
	padding: 25px;
	border-radius: 10px;
}

.sent {
	float: right;
	background-color: white;
}

.received {
	float: left;
	background-color: lightgreen;
}

.message-box {
	height: 80px;
	background-color: #f3eeea;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

.message-box i {
	font-size: 1.6rem;
	color: rgba(0, 0, 0, 0.5);
	cursor: pointer;
}

.message-box input {
	width: 80%;
	height: 70%;
	border: none;
	padding-left: 20px;
	font-size: 1rem;
	border-radius: 4px;
}

.avatar {
	height: 100%;
	display: flex;
	align-items: center;
	padding-left: 10px;
	float: left;
}

.avatar img {
	height: 80%;
	aspect-ratio: 1;
	border-radius: 50%;
}

.header-avatar img {
	height: 65%;
}

.details .name {
	padding-left: 10px;
	font-size: 1.2rem;
}

.banner-icon {
	margin-left: 25px;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 60px;
	aspect-ratio: 1;
	background-color: white;
	border-radius: 50%;
	font-size: 1.5rem;
	color: #8edafc;
}

.banner-text {
	margin-left: 15px;
	font-size: 1.1rem;
}

.banner-link {
	font-size: 0.95rem;
	margin-top: 5px;
	color: grey;
}
/* End of main structure */
